@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

.card {
    transition: 0.5s ease all;
}

.card:hover {
    scale: 1.1;
}

.my-blog-item {
    transition: 0.4s ease all;
}

.my-blog-item:hover {
    scale: 1.05;
}
